name: Frontend CI

on:
    push:
      branches: [main]

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - run: docker build -t multi-user-frontend .
