name: Frontend CI/CD Dev
on:
    push:
      branches: [develop]
jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Login to Docker Hub
          run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        - name: Build image
          run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-user-frontend:dev .
        - name: Push to Docker Hub
          run: docker push ${{ secrets.DOCKER_USERNAME }}/multi-user-frontend:dev
    
    deploy:
      needs: build
      runs-on: ubuntu-latest
      steps:
        - name: Deploy to server
          uses: appleboy/ssh-action@master
          with:
            host: ${{ secrets.SSH_HOST }}
            username: ${{ secrets.SSH_USERNAME }}
            password: ${{ secrets.SSH_PASSWORD }}
            port: ${{ secrets.SSH_PORT }}
            script: |
              docker pull ${{ secrets.DOCKER_USERNAME }}/multi-user-frontend:dev
              cd ~/dev
              docker compose down --remove-orphans
              docker compose up -d
